.company {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 20px 5px;
    gap: 10px;
}

.company .addcompany {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 15px 5px 15px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.company .extend {
    height: auto;
}

.company .addcompany .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company .addcompany .header h2 {
    margin: 0px;
}

.company .addcompany .header img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.company .addcompany form {
    display: flex;
    flex-direction: column;
}

.company .addcompany form textarea {
    resize: vertical;
    height: 50px;
    margin-bottom: 10px;
}

.company .addcompany form input {
    margin-bottom: 10px;
    height: 30px;
}